html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: violet;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 100%;
    height: 100%;
    background-color: aqua;
    justify-content: space-around;
    align-items: center;

}
@media only screen and (max-width:1150px){
    .box{
        background-color: rgb(28, 255, 21);
        justify-content: space-around;
        align-items: center;   
    
     }
        .container{
            flex-wrap: wrap;
        }
 }
@media only screen and (max-width:1150px){
    body{
        text-align: center;
    }
    .box{
        background-color: rgb(59, 5, 255);
    }
}

img{
   width: 100%; 
   height: 100%;

}